{% extends "cellVision.html" %}

{% block css %}
{{block.super}}
<style>
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
li {
    list-style-type: none;
    font-weight: normal;
}
</style>
{% endblock css %}

{% block page_title %}Deep Cell Vision - Segmentation{% endblock %}
{% block page_class %}segment{% endblock %}
{% block content %}
<!-- This code is taken from http://getbootstrap.com/examples/jumbotron/ -->
<div class="container">
<h1>SEGMENT YEAST CELLS</h1>
</div>
{% endblock %}
