{% extends "base.html" %}

{% block css %}
{{block.super}}
<style>
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
</style>
{% endblock css %}

{% block page_title %}Deep Cell Vision - About{% endblock %}
{% block page_class %}about-page{% endblock %}
{% block content %}
<!-- This code is taken from http://getbootstrap.com/examples/jumbotron/ -->
<div class="container">
<h1>About this project:</h1>
<p> This web tool was designed to accept a raw microscopy image as input and returns the predicted protein localization for the whole image as well as a segmentation mask for the cells in the image and an estimate of protein localization for each cell. It lets users to select segmented cells or localization categories to view more detailed attributes specific to the selection. This tool is unique as there currently are other online tools that use modern computer vision algorithms to classify and segment microscopy screens.</p>

<h2>Developed at the University of Toronto by</h2>
        <ul>
            <li>Oren Kraus</li>
            <li>Matej Ušaj</li>
            <li>Lei Jimmy Ba </li>
            <li>Brendan Frey</li>
            <li>Michael Shin</li>
        </ul>
        
        <h4>with help of</h4>
        <ul>
            <li>Brenda Andrews</li>
            <li>Charlie Boone</li>
        </ul>
        
        <h2>Thanks to the following libraries and their developers</h2>
        <ul>
            <li><a href="https://www.djangoproject.com/">Django</a></li>
            <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
            <li><a href="http://mahotas.readthedocs.org/en/latest/">Mahotas</a></li>
            <li><a href="http://www.cs.toronto.edu/~tijmen/gnumpy.html">gnumpy</a></li>
        </ul>

</div>
{% endblock %}
